a#liste_aeA.btn.btn-success{
	
	border-top-right-radius: 0px;
	border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px; 
    background-color: #68B42E;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block; 
}

button#newentry.btn.btn-success{
	
	border-top-right-radius: 0px;
	border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px; 
    background-color: #68B42E;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

button#editentry.btn.btn-success{
	
	border-top-right-radius: 0px;
	border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px; 
    background-color: #68B42E;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block; 
    
}

div.Buttons{
	
	float: left;
	align-items: center;
	
}