a.page-link{
	
  /*color: #333 !important;*/
  color: #68B42E;
  border: 1px solid #979797;
  background-color: #fff;

}

.page-item.active .page-link{
	background-color: #68B42E;
	color: #fff !important;
}

th{
	background-color: #68b42e59;
}

.custom-select-sm{
	font-size: 1.5rem;
}

div.dataTables_wrapper div.dataTables_length select{
	width: 4rem;
}

table.dataTable.no-footer {
	border: none !important;

	}
div#detail_data_length.dataTables_length {
	display: none;
}

div#detail_data_filter.dataTables_filter {
	display: none;
}

div#detail_data_info.dataTables_info {
	display: none;
}

div#detail_data_paginate.dataTables_paginate.paging_simple_numbers {
	display: none;
}

div#mail_data_length.dataTables_length {
	display: none;
}

div#mail_data_filter.dataTables_filter {
	display: none;
}

div#mail_data_info.dataTables_info {
	display: none;
}