body{
	background-image: url("../img/SVLFG_Logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

h2#AEA_nr{
	font-weight: bold;
}

h2{
	text-align: center;
	margin: 10px;
}

h3{
	text-align: center;
	margin: 10px;
}

h4{
	text-align: center;
	margin: 10px;
}

.row{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 24px;
	text-align: center;
}

a.Nummer{
	color: #68B42E;
}

a#headline.navbar-brand{
	font-size: 24px;
}

div.date_container{
	margin: 10px;
}


div.view_container{
	margin: auto;
	padding: 20px;
	font-size: 24px;
	text-align: center;
}

div.table_container{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 24px;
	text-align: center;
}
	

.to_dashboard{
	text-align: center;
}

#back_dashboard{
	margin: 10px;
	text-align: center;
	font-size: 24px;
}

div#gesamtliste{
	margin: 10px;
	color: #fff;
	text-align: center;
	font-size: 24px;	
}

#gesamtliste:link{
	color: #fff;
}


div#neuanlage{
	margin: 10px;
	text-align: center;
	font-size: 24px;
}


a.navbar-brand{
	font-size: 18px;
}

a.navbar-brand:hover{
	font-size: 18px;
	font-style: italic;
}

dt{
	margin: 20px;
}

.button_special{
	
	border-top-right-radius: 0px;
	border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px; 
    background-color: #68b42e;
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;  
}

a.button_special:link, a.button_special:visited{
	
	color: #fff;
    
}
  
a.button_special{
	min-width: 140px;
	height: 40px;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1px;
	font-size: 24px;
}

button.button_special{
	min-width: 140px;
	height: 40px;
	margin: 10px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1px;
	font-size: 24px;
}


b.button_special{
	color: #fff;
}

.button_special:hover {
  color: #fff;
  background-color: #528e24;
  border-color: #528e24;
}

.container-fluid-own{	
  width: 93%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.modal-header{
  background-color: #68b42e;
}

.modal-title{
  color: white;
  font-size: 25px;
}
.modal-body{
  background-image: url(../img/SVLFG_Logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.popover{
	margin-left: 15px;
    max-width: 1000px;
    border-style: solid;
    border-color: black;
}

.popover-header{
  background-color: #68b42e;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.popover-body{	
  font-size: 25px;
  font-weight: bold;
}

.datepicker table{
  border-collapse: inherit;
}
.datepicker table tbody{
  background-color: white;
}

.datepicker table tbody tr > td:nth-child(1){
  display: table-cell;
}