
table{
	margin: auto;
	padding: 10px;
	text-align: center;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}



.body_container{
	margin: auto;
	padding: 10px;
}


.comment_container{
	margin: auto;
	padding: 30px;
	font-size: 24px;
	text-align: center;
}

.mail_container{
	margin: auto;
	padding: 30px;
	font-size: 24px;
	text-align: center;
}

h1{
	padding: 5px;
}

dl{
	position: static;
}

.container>dl>dt{
	margin-left: 10px;
	text-align: center;
}
